<li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Catalog <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
                <li><%= link_to 'Regular', store_index_path(spa: false) %></li>
                <li><%= link_to "SPA", store_index_path(spa: true) %></li>
        </ul>
</li>

<% if account_signed_in? %>

    <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Resources <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                    <% if current_account.accountable_type == "Seller" %>
                        <li><%= link_to 'My Products', seller_products_path(current_account.accountable_id) %></li>
                        <li><%= link_to 'My Orders', orders_seller_path(current_account.accountable_id) %></li>
                    <% else %>
                        <li><%= link_to 'My Orders', buyer_orders_path(current_account.accountable_id) %></li>
                    <% end %>
            </ul>
    </li>
    
    
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Settings (<%= (current_account.accountable.name.nil? or current_account.accountable.name == "") ? "No Name" : current_account.accountable.name %>) <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
              <% if current_account.accountable_type == "Seller" %>
                <li><%= link_to 'Seller Profile', edit_seller_path(current_account.accountable_id) %></li>
              <% else %>
                <li><%= link_to 'Buyer Profile', edit_buyer_path(current_account.accountable_id) %></li>
              <% end %>
              <li><%= link_to 'Account Settings', edit_account_registration_path %></li>
        </ul>
    </li>

    <li><%= link_to 'Sign out', destroy_account_session_path, :method=>'delete' %></li>

<% else %>

    <li><%= link_to 'Sign in', new_account_session_path %></li>
    <li><%= link_to 'Sign up', new_account_registration_path %></li>

<% end %>